.landing_wrapper{
    overflow: hidden;
    width: 100%;
    height:100vh;

    .landing_title{
        font-size: 800%;
        margin:auto;
        color: white;
        text-align: center;
    }

    .art{
        text-align: right;
    }
    .art__span{
        background-color: black;
        color:white;
        padding:5px;
        margin:5px;
    }

    @media(min-width: $bp-xl) {
      h5{
        margin-top: 50px;
      }

    }

    @media(max-width: $bp-medium) {
        .art{
            position: absolute;
            text-align: center;
            top: 40%;
            left: 50%;
            width:100%;
            /* bring your own prefixes */
            transform: translate(-50%, -50%);
        }
        .art__span{
            background-color: black;
            color:white;
            padding:5px;
            margin:5px;
        }
      }

}
