@import "../variables";
@import "../fonts.scss";

.nav_bar_container {
  background-color: #FFFFF0;

  ul{
      width:100% !important;
  }

  .social-media{
      margin:100px 0px;
  }

  .navbar-brand{
      margin:100px 0px 20px;
      color:black;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
  }

  .nav-link{
      color:black;
      font-size: 80%;
      text-align: left;
  }

  .toggle{
      margin:13px 0px 0px 0px;
      color:white !important;
      cursor: pointer;
      font-size: 150%;
      border: none;
        outline:none;

  }

  .nav-link:hover{
      color:#9975b9 !important;
      font-size: 100%;
  }

    @media(max-width: $bp-large) {
        .navbar-brand{
           margin:100px 0px 0px;
           position: relative;
           font-size: 90%;
        }

    }

    @media(max-width: $bp-medium) {

        background-color: #2f3542;

      .navbar-brand{
         margin:15px -15px 0px;
         position: relative;
         font-family: 'Roboto', sans-serif;
         font-weight: 700;
         font-size: 100%;
         color:white !important;
      }

      .nav-link{
          font-size: 90%;
          text-align: center;

      }
      .nav-link:hover{
          color:#9975b9 !important;
          font-size: 100%;
      }

      .navv{
        color:white !important;
      }

      .social-media{
          margin:0px 0px 30px;
      }

    }
}

.twitter{
    color: $yellow !important;
}

.linkedin{
    color: $orange !important;
}

.facebook{
    color: $green !important;
}

.github{
    color: $blue !important;
}
