@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Nixie+One');

/* --------------- Fonts -------------- */

.nixie{
    font-family: 'Nixie One', cursive;
}

.pt-sans-blue{
    color:#3BAFDA;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

.roboto{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.roboto-large{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}


.roboto-white{
    color:white;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.roboto-blue{
    color:#3BAFDA;
    font-family: 'Roboto', sans-serif;
}

.roboto-orange{
    color:#FFCE54;
    font-family: 'Roboto', sans-serif;
}

.pt-sans-black{
  font-family: 'PT Sans', sans-serif;
  color:black;
}

.pt-sans-white{
  font-family: 'PT Sans', sans-serif;
  color:white;
}

.pt-san-bold{
  font-weight: bold;
  color:black;
  font-family: 'PT Sans', sans-serif;
}

.roboto-bold{
  color:black;
  font-family: 'Roboto', sans-serif;
}

.fira-blue{
    color:#3BAFDA;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

.fira-black{
  font-family: 'Fira Sans', sans-serif;
  color:black;
}


.fira-white{
  font-family: 'Fira Sans', sans-serif;
  color:white;
}

.fira-bold{
  font-weight: bold;
  color:black;
  font-family: 'Fira Sans', sans-serif
}
