@import '../node_modules/normalize.css/normalize.css';
@import "./variables.scss";
@import "./fonts.scss";
@import "./utils.scss";

body, html, .container-fluid {
    height: 100%;

    .wrapper {
        position: fixed;
        min-width:100%;
    }

    main {
        min-height: 100vh;
        overflow-y: auto
    }

    @media(max-width: $bp-medium) {

        .wrapper {
            position: relative;
            height: 80vh;
        }

      }
}


@import './components/nav.scss';
@import './pages/error.scss';
@import './pages/landing.scss';
@import './pages/bnt.scss';
@import './pages/about.scss';
