$blue: #375E97;
$orange: #FB6542;
$green: #3F681C;
$yellow: #FFBB00;

$primary-0: white;
$primary-1: $blue;
$primary-2: $orange;
$primary-3: $green;
$primary-4: $yellow;



// Backgrounds
$bg-landing: $primary-0;


// Breakpoints
$bp-large: 992px;
$bp-medium: 767px;
$bp-small: 576px;
$bp-xl: 1441px;
$bp-tablet-large: 1024px;
$bp-tablet-small: 768px;
$bp-phone-xlarge: 414px;
$bp-phone-large: 411px;
$bp-phone-medium: 375px;
$bp-phone-small: 360px;
$bp-phone-xsmall: 320px;

$border-radius: 5px;

$nav-height: 70px;
$nav-height-small: 56px;
$nav-link-blue: #3194ED;
$nav-grey: #444851;
$nav-border-color: #252831;

$sidebar-width: 300px;
$sort-width: 120px;

$padding-default: 15px;
$margin-default: $padding-default;
